@using SandBox.ViewModels
@model DoramasViewModel

<h1>Все дорамы</h1>
<h3>@Model.CurrCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (var dorama in Model.AllDoramas)
        {
            <div class="col-lg-4">
                <img class="img-thumbnail" src="@dorama.Img" alt="@dorama.Name" />
                <h4>@dorama.Name </h4>
                <h6>Жанр: @dorama.Genre</h6>
                <h6>Страна: @dorama.Country</h6>
                <h6>Канал: @dorama.Channel</h6>
                <p><a class="btn btn-warning" href="#">Смотреть онлайн</a></p>
            </div>
        }
    }
</div>
