@using SandBox.ViewModels
@model DoramasViewModel

<h1>Все дорамы</h1>
<h3>@Model.CurrCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (var dorama in Model.AllDoramas)
        {
            <div class="col-lg-4">
                <img class="img-thumbnail" src="@dorama.Img" alt="@dorama.Name" />
                <h4>@dorama.Name </h4>
                <h5>Жанр: @dorama.Genre</h5>
                <h5>Страна: @dorama.Country</h5>
                <h5>Канал: @dorama.Channel</h5>
                <p></p>
            </div>
        }
    }
</div>
